<div dir="rtl">
    <div style="min-height: max-content" class="my-3">
        @for (user of users; track $index) {
            @if (user.id != chatService.currentUserId) {
                <div class="row mt-1">
                    <div class="col">
                        <div class="d-grid">
                            @if (user.isOnline) {
                                <button class="btn btn-success card-text btn-block" type="button" (click)="selectUser(user)">{{user.name}}</button>
                            }
                            @else{
                                <button class="btn btn-secondary card-text btn-block" type="button" (click)="selectUser(user)">{{user.name}}</button>
                            }
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>